@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Poppins:wght@400;500;600;700&display=swap%27");
/* 
font-family: 'Hind', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  --main-text-color: #333333;
  --highlight-text-color: #7bb57c; 
  --alternative-text-color: #707070;
  --main-button-color: #ffffff;
  --additional-text-color: #757171;
  --out-of-stock-background-color: #ffddd9;
  --out-of-stock-text-color: #cc3833;
  --non-active-color: #A9A9A9;
  --ultra-darck-color: #2C2C2C;
  --form-color: #646464;
}

.logo {
display: flex;
justify-content: space-between; 
}

.burger {
  margin-right: 40px;
}

.site-logo {
  padding-top: 10px;
}


.site-logo a img {
  padding-top: 7px;
  width: 108px;
  height: 32px;
}

body {
  margin: auto;
}

.header, .promotion-list, .best-selling-list, .heading, .section-inner-brands {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

header {
  display: block;
  background-image: url(../img/background-img-start-page.webp);
  background-position: center;
  background-size: cover;
  min-height: 860px;
  padding-top: 30px;
  padding-left: 30px;
}

header label {
  font-size: 3.5rem;
}

#burger-checkbox {
  display: none;
}


header nav {
  display: none;
}

header input:checked ~ nav {
  display: block;
}

header nav a {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--main-text-color);
  text-decoration: solid;
}

header nav a:hover {
  color: var(--highlight-text-color);
}

@media (min-width: 765px) {
  /* .site-logo {
    width: 80%;
    float: left;
  } */

  header input:checked ~ nav {
    display: block;
  }
  /* header label {
    display: none;
  } */
  .promotion-list, .best-selling-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .promotion-list article, .best-selling-list article {
    display: flex;
    flex-direction: column;
  }
  .best-selling-list {
    grid-gap: 60px;
  }
}

@media (min-width: 990px) {
  .site-logo {
    width: 30%;
    float: left;
  }
  header label {
    display: none;
  }
  .heading .logo {
    display: flex;
  }
  header nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
  
  header nav a {
    padding-right: 20px;
  }
  .header .start-page {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .promotion-list, .best-selling-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 700px;
  padding-top: 70px;
}

.start-page h1 {
  font-size: 84px;
  line-height: 1em;
  color: var(--main-text-color);
  margin-top: 10px;
}

.start-page h1 span, .promotion-list h3 span, #entry-page span {
  color: var(--highlight-text-color);
}

.start-page p {
  color: var(--main-text-color);
  font-size: 18px;
  padding-top: 40px;
}

#promotion {
  margin-top: 100px;
}

.promotion-list, .best-selling-list {
  padding-right: 20px;
  padding-left: 20px;
}

.promotion-list h2 {
  display: none;
}

.promotion-list h3, .best-selling-list h3 {
  font-size: 22;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 30px;
}

.promotion-list a {
  text-decoration: none;
  font-size: 12px;
  font-family: 'Hind', sans-serif;
  color: var(--main-text-color);
  padding-bottom: 100px;
}

.promotion-list a:hover {
  text-decoration: underline;
}

.promotion-list article div {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.promotion-list article img, .best-selling-list article img {
  /* display: block; */
  width: 100%;
}

#entry-page {
  background-image: url(../img/background-dot.webp);
  background-size: auto;
  padding-top: 250px;
  padding-bottom: 250px;
}

#entry-page h1 {
  font-size: 84px;
  line-height: 1em;
  color: var(--main-text-color);
  text-align: center;
}

.best-selling-list {
  padding-bottom: 70px;
}

#best-selling h2 {
  font-size: 34px;
  text-align: center;
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 30px;
}

#best-selling h3, h4 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#best-selling h4 {
  color: var(--highlight-text-color);
  padding-bottom: 20px;
}

#best-selling p {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.best-selling-list article {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.w-section-inner {
  background-color: #F7F5F6;
  margin: auto;
  display: block;
}

.form-background {
  background-color: #ffffff;
  margin: 100px;
  max-width: 1200px;
}

.w-section-inner-form-background {
  background-color: #ffffff;
  margin: auto;
  max-width: 1200px;
}

.w-grid-slider {
  display: grid;
  max-width: 1200px;
  max-height: 400px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  position: relative;
  left: 0;
  transition: all ease 1s;
  overflow: hidden;
}

.w-grid-slider img {
  width: 154px;
  height: 120px;
}

.feedback-panel {
  display: flex;
  max-width: 1200px;
  flex-basis: 425px;
  margin: auto;
  justify-content: space-between;
}

.w-section-header {
  font-size: 34px;
}

.w-section-header, .w-section-subheading p {
  text-align: center;
  margin-top: 30px;
}

.feedback-1, .feedback-2, .feedback-3 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px 30px;
  margin: 15px;
}

.feedback-name {
  font-size: 22px;
}

.feedback-location {
  font-size: 14px;
}

.feedback-text {
  color: #707070;
  font-size: 16px;
  margin-top: 15px;
}

.img-feedback img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: auto 150px;
}

.w-grid-item {
  display: flex;
  max-width: 1200px;
  max-height: 447px;
  margin: 30px auto;
  background-color: #ffffff;
  object-fit: fill;
}

/*.w-grid-item {
  display: block;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  max-width: 1200px;
  max-height: 447px;
  background-color: #ffffff;
} */



.w-grid-inner {
  background-color: #F7F5F6;
  margin: auto;
  max-width: 1100px;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.collection-item-text {
  display: flex;
  flex-basis: 620px;
  padding: 60px;
  max-width: 1200px;
  max-height: 447px;
  flex-direction: column;
  object-fit: cover;
}

.collection-item-img {
  display: flex;
  flex-basis: 620px;
  max-width: 620px;
  height: 420px;
  flex-direction: column;
  object-fit: cover;
}

.collection-item-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

.collection-item-text-mini {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  max-width: 335px;
}

.collection-item-main-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  max-width: 335px;
}

.collection-item-header {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.collection-item-img img {
  display: flex;
  object-fit: cover;
}

.grid-item-footer {
  max-height: 500px;
  background-color: #333333;
}

/* Controls */

.button {
  font-family: 'Hind', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 1em 2em;
  border: 2px solid var(--highlight-text-color);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  color: var(--additional-text-color);
  text-decoration: none;
  text-align: center;
  transition: color 0.5s;
  background-color: transparent;
}

.button:hover {
  color: var(--main-button-color);
  border-color: var(--highlight-text-color);
  background-color: var(--highlight-text-color);
  cursor: pointer;
}

.green {
  background-color: var(--highlight-text-color);
  color: var(--main-button-color);
}

.green:hover {
  background-color: var(--main-text-color);
  color: var(--main-button-color);
  border-color: var(--main-text-color);
}

.best-selling-button {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 1em 1em;
  border: 2px solid var(--highlight-text-color);
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.5em;
  color: var(--main-button-color);
  text-decoration: none;
  text-align: center;
  transition: color 0.5s;
  background-color: var(--highlight-text-color);
  margin-top: 80px;
}

.best-selling-button:hover {
  color: var(--main-button-color);
  border-color: var(--main-text-color);
  background-color: var(--main-text-color);
  cursor: pointer;
}

/* Spring collection */


#up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  font-size: 30px;
  border: none;
}

#up a {
  color: var(--non-active-color);
}

.spring-header {
  display: block;
  background-image: url(../img/spring_collection.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* max-width: 1200px; */
  min-height: 700px;
  padding-top: 140px;
  padding-left: 20px;
  margin-bottom: 90px;
}
@media (min-width: 765px){
.spring-header {
  padding-left: 30px;
  }
}
@media (min-width: 990px) {
  .spring-header {
    padding-left: 40px;
  }
}

.spring-collection-text h1 {
  font-size: 58px;
  font-weight: bold;
  line-height: 1.1;
  color: var(--main-text-color);
}
@media (min-width: 765px){
.spring-collection-text h1 {
  font-size: 71px;
  }
}
@media (min-width: 990px) {
.spring-collection-text h1 {
  font-size: 84px;
  }
}
.spring-collection-text h1 #year {
  color: var(--highlight-text-color);
}

.spring-collection-text p {
  color: var(--main-text-color);
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sections {
  margin: auto;
  max-width: 1100px;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.section-1, .section-2 {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  padding: 40px 25px;
  padding-top: 50px;
  padding-left: 30px;
  height: auto;
  word-wrap: break-word;
}

.section-1 {
  margin-bottom: 50px;
  background-image: url(../img/colorful_sale.png);
}

.section-2 {
  background-image: url(../img/only_black.png);
}

.section-2 button:hover {
  background-color: var(--main-button-color);
  color: var(--main-text-color);
}

.section-1-paragraph-1 {
  font-size: 14px;
  color: var(--ultra-darck-color);
  font-weight: 500;
}

.section-1-paragraph-2, .section-2-paragraph-2 {
  font-size: 22px;
  color: var(--main-text-color);
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 500;
}

.section-1-paragraph-3, .section-2-paragraph-3 {
  font-size: 16px;
  color: var( --alternative-text-color);
  margin-bottom: 40px;
}

.section-2-paragraph-1 {
  font-size: 14px;
  font-weight: 500;
  color: var(--non-active-color);
}

.section-2-paragraph-2, .section-2-paragraph-3 {
  color: var(--main-button-color);
}

@media (min-width: 765px) {
  .sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  .section-1 {
    margin-bottom: 0;
  }
}


#products h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--main-text-color);
  margin-left: 25px;
  margin-top: 80px;
}
@media (min-width: 765px) {
  #products h2 {
    font-size: 34px;
  }
}

@media (min-width: 990px) {
  #products h2 {
    font-size: 38px;
  }
}

#products p {
  font-size: 18px;
  color: var(--main-text-color);
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.tabs {

  display: flex;
  width: 94%;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid;
  border-color: var(--non-active-color);
  margin-bottom: 30px;
  margin-left: 30px;
  /* order: 0; */
  white-space: nowrap;
}

.tabs button {
  background-color: var(--main-button-color);
  border: none;
  color: var(--non-active-color);
  font-size: 18px;
  padding: 0 20px 15px 20px;
}

.tabs button:hover {
  color: var(--main-text-color);
}

.tabs button.active {
  color: var(--main-text-color);
  border-bottom: 2px solid var(--highlight-text-color);
}

/* .tabs>a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--non-active-color);
  font-size: 18px;
} */
/* .tabs>a:hover, .tabs>a.active {
  color: var(--main-text-color);
} */


.products-list {
  padding-left: 40px;
  padding-right: 40px;
}

.products-list .active-tab {
  z-index: 1;
}
.products-list article {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.products-list img {
  display: block;
  width: 100%;
}
.products-list article p {
  font-size: 18px;
  color: var(--main-text-color);
  padding-bottom: 10px;
  font-weight: 500px;
  margin-top: 20px;
  text-align: center;
}
.products-list article p.price {
  color: var(--highlight-text-color);
  font-weight: bold;
  margin-top: 0;
}
.products-list article button {
  margin-top: 10px;
  margin-bottom: 50px;
}
.products-list article .out-of-stock {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: var(--out-of-stock-background-color);
  margin: 0;
  margin-top: -31px;
}
.products-list article .out-of-stock p {
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  color: var(--out-of-stock-text-color);
}
@media (min-width: 765px) {
  .products-list {
   display: grid;
   column-gap: 50px;
   grid-template-columns: 1fr 1fr;
   padding-right: 20px;
  }
  .products-list img {
    width:  90%;
  }
}

@media (min-width: 990px) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   .products-list article p {
     font-size: 20px;
   }
}

  .w-grid-item-form {
    display: flex;
    background-color: #F7F5F6;
    max-width: 520px;
    height: 805px;
    justify-content: center;
    margin: auto;
    padding: 20px;
  }

  .w-grid-item-form {
    display: flex;
    background-color: #F7F5F6;
    max-width: 520px;
    height: 805px;
    justify-content: center;
    margin: auto;
    padding: 20px;
  }

  .w-grid-item-form input {
    width: 400px;
    height: 60px;
    background-color: #ffffff;
    margin-top: 20px;
    border: #ffffff;
    border-radius: 5px;
    padding-left: 25px;

  }

  .w-grid-item-form .green {
    width: 100%;
  }

  textarea {
      width: 400px;
      height: 300px;
      background-color: #ffffff;
      margin-top: 20px;
      border: #ffffff;
      border-radius: 5px;
      padding-left: 25px;
      padding-top: 15px;
  }

  .form-ui-contact {
    justify-content: center;
    margin: auto;
    padding: 20px;
  }


  .form-field .form-email .form-text-area {
    min-width: 365px;
    max-height: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px;
  }

  .w-section-inner-form {
    max-width: 1200px;
    justify-content: center;
    display: flex;
  }

  .w-grid-item-contacts {
    display: flex;
    flex-direction: column;
    padding: 60px;
    object-fit: cover;
    flex-basis: 570px;
  }

  /* .google-map { 
    margin: auto;
  } */

  .map-info {
    padding: 30px;
    margin: auto;
    width: 100%;
  }
/* FOOTER */
footer {
  display: block;
  background-color: var(--main-text-color) ;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.footer-container {
padding: 95px 24px 30px 24px;
}

.footer-logo {
  display: block;
}
.footer-logo a img {
  display: block;
  max-width: 110px;
  margin: 0 auto;
}

.footer-logo p {
  color: var(--main-button-color);
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 14px;
}

.footer-navigation {
  display: block;
  margin: 0 auto;
}
 
.navigation-centr-part {
margin: 50px auto;
}

footer nav a {
  display: block;
  text-decoration: none;
  color: var(--main-button-color);
  text-align: center;
  margin: 10px 5px;
  font-size: 16px;
}

.social-icons p, .form-container p {
  color: var(--main-button-color);
  text-align: center;
  font-size: 16px;
}

.social-icons nav {
  text-align: center;
}

.social-icons nav a {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 34px;
  margin-bottom: 10px;
}

.form-container {
  margin-top: 30px;
}

.footer-forms {
   border-radius: 10px;
}

.footer-forms input {
  width: 100%;
  height: 55px;
  background-color: var(--non-active-color);
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}

.footer-container button {
  width: 100%;
  height: 55px;
  margin-top: 20px;
}

.after-footer {
  padding:0 24px 30px 24px;
}

.after-footer p {
  color: var(--non-active-color);
  text-align: center;
  padding-bottom: 20px;
}

.after-footer-text {
  padding-top: 20px;
  border-top: 1px solid var(--form-color);
}

@media (min-width: 765px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .footer-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
  .navigation-centr-part {
    margin: 0 auto;
  }
  footer nav a {
    margin-top: 0;
  }
  .form-container {
    margin-top: 0;
  }
  
}

.swiper-container {
  width: 1200px;
  height: 200px;
}

.swiper-slide img {
  display: block;
  width: 154px;
  height: 120px;
  object-fit: fill;
  margin: auto;
  }

  .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .w-section {
    display: block;
    position: relative;
    height: auto;
  }

  .w-section-grey {
    display: block;
    position: relative;
    height: auto;
    background-color: #F7F5F6;
  }
  @media (max-width: 765px) {
    .w-section-inner-form {
      flex-direction: column;
    }

    .feedback-panel {
      flex-direction: column;
    }

    .w-grid-item {
      flex-direction: column;
      max-width: 765;
      max-height: 2500px;
    }

    .w-section .w-section-inner {
      max-height: fit-content;
    }
  }