@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Poppins:wght@400;500;600;700&display=swap%27");
/* 
font-family: 'Hind', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  --main-text-color: #333333;
  --highlight-text-color: #7bb57c;
  --alternative-text-color: #707070;
  --main-button-color: #ffffff;
  --additional-text-color: #757171;
}

.site-logo {
  padding-top: 10px;
}

.site-logo a img {
  padding-top: 7px;
  width: 108px;
  height: 32px;
}

body {
  /* max-width: 1400px; */
  margin: auto;
}

.header, .promotion-list, .best-selling-list, .heading {
  max-width: 1200px;
  margin: auto;
}

header {
  display: block;
  background-image: url(../img/background-img-start-page.webp);
  background-position: center;
  background-size: cover;
  min-height: 860px;
  padding-top: 30px;
  padding-left: 30px;
}

header nav a {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--main-text-color);
  text-decoration: solid;
}

header nav a:hover {
  color: var(--highlight-text-color);
}

@media (min-width: 990px) {
  .heading .logo {
    display: flex;
  }
  header nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    padding-right: 20px;
  }
  .header .start-page {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 765px) {
  .promotion-list, .best-selling-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .promotion-list article, .best-selling-list article {
    display: flex;
    flex-direction: column;
  }
  .best-selling-list {
    grid-gap: 60px;
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 700px;
  padding-top: 70px;
}

.start-page h1 {
  font-size: 84px;
  line-height: 1em;
  color: var(--main-text-color);
  margin-top: 10px;
}

.start-page h1 span, .promotion-list h3 span, #entry-page span {
  color: var(--highlight-text-color);
}

.start-page p {
  color: var(--main-text-color);
  font-size: 18px;
  padding-top: 40px;
}

#promotion {
  margin-top: 100px;
}

.promotion-list, .best-selling-list {
  padding-right: 20px;
  padding-left: 20px;
}

.promotion-list h2 {
  display: none;
}

.promotion-list h3, .best-selling-list h3 {
  font-size: 22;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 30px;
}

.promotion-list a {
  text-decoration: none;
  font-size: 12px;
  font-family: 'Hind', sans-serif;
  color: var(--main-text-color);
  padding-bottom: 100px;
}

.promotion-list a:hover {
  text-decoration: underline;
}

.promotion-list article div {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.promotion-list article img, .best-selling-list article img {
  display: block;
  width: 100%;
}

#entry-page {
  background-image: url(../img/background-dot.webp);
  background-size: auto;
  padding-top: 250px;
  padding-bottom: 250px;
}

#entry-page h1 {
  font-size: 84px;
  line-height: 1em;
  color: var(--main-text-color);
  text-align: center;
}

.best-selling-list {
  padding-bottom: 70px;
}

#best-selling h2 {
  font-size: 34px;
  text-align: center;
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 30px;
}

#best-selling h3, h4 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#best-selling h4 {
  color: var(--highlight-text-color);
  padding-bottom: 20px;
}

#best-selling p {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.best-selling-list article {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.w-section-inner {
  background-color: #F7F5F6;
  margin: auto;
}

.w-grid-slider {
  display: flex;
  max-width: 1200px;
  max-height: 400px;
  flex-basis: 305px;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.feedback-panel {
  display: flex;
  max-width: 1200px;
  flex-basis: 425px;
  margin: auto;
  justify-content: space-between;
}

.w-section-header {
  font-size: 34px;
}

.w-section-header, .w-section-subheading p {
  text-align: center;
  margin-top: 30px;
}

.feedback-1, .feedback-2, .feedback-3 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px 30px;
  margin: 15px;
}

.feedback-name {
  font-size: 22px;
}

.feedback-location {
  font-size: 14px;
}

.feedback-text {
  color: #707070;
  font-size: 16px;
}

.img-feedback img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: auto 150px;
}

.w-grid-item {
  display: flex;
  max-width: 1200px;
  max-height: 447px;
  margin: 30px auto;
  background-color: #ffffff;
  object-fit: fill;
}

.w-grid-inner {
  background-color: #F7F5F6;
  margin: auto;
}

.collection-item-text {
  display: flex;
  flex-basis: 620px;
  padding: 60px;
  max-width: 1200px;
  max-height: 447px;
  flex-direction: column;
  object-fit: cover;
}

.collection-item-img {
  display: flex;
  flex-basis: 620px;
  max-width: 620px;
  height: 420px;
  flex-direction: column;
  object-fit: cover;
}

.collection-item-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

.collection-item-text-mini {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  max-width: 335px;
}

.collection-item-main-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  max-width: 335px;
}

.collection-item-header {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.collection-item-img img {
  display: flex;
  object-fit: cover;
}

.grid-item-footer {
  max-height: 500px;
  background-color: #333333;
}

/* Controls */

.button {
  font-family: 'Hind', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 1em 2em;
  border: 2px solid var(--highlight-text-color);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  color: var(--additional-text-color);
  text-decoration: none;
  text-align: center;
  transition: color 0.5s;
  background-color: transparent;
}

.button:hover {
  color: var(--main-button-color);
  border-color: var(--highlight-text-color);
  background-color: var(--highlight-text-color);
  cursor: pointer;
}

.green {
  background-color: var(--highlight-text-color);
  color: var(--main-button-color);
}

.green:hover {
  background-color: var(--main-text-color);
  color: var(--main-button-color);
  border-color: var(--main-text-color);
}

.best-selling-button {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 1em 1em;
  border: 2px solid var(--highlight-text-color);
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.5em;
  color: var(--main-button-color);
  text-decoration: none;
  text-align: center;
  transition: color 0.5s;
  background-color: var(--highlight-text-color);
  margin-top: 80px;
}

.best-selling-button:hover {
  color: var(--main-button-color);
  border-color: var(--main-text-color);
  background-color: var(--main-text-color);
  cursor: pointer;
}

/* Spring collection */

#up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: transparent;
  font-size: 30px;
  border: none;
}

.spring-header {
  display: block;
  background-image: url(../img/background_spring.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  padding-top: 140px;
  padding-left: 20px;
  margin-bottom: 90px;
}
@media (min-width: 768px) and (max-width: 989px) {
.spring-header {
  padding-left: 30px;
  }
}
@media (min-width: 990px) {
  .spring-header {
    padding-left: 40px;
  }
}

.spring-collection-text h1 {
  font-size: 58px;
  font-weight: bold;
  line-height: 1.1;
  color: var(--main-text-color);
}
@media (min-width: 768px) and (max-width: 989px) {
.spring-collection-text h1 {
  font-size: 71px;
  }
}
@media (min-width: 990px) {
.spring-collection-text h1 {
  font-size: 84px;
  }
}
.spring-collection-text h1 #year {
  color: var(--highlight-text-color);
}

.spring-collection-text p {
  color: var(--main-text-color);
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sections {
  display: grid;
  margin: auto;
  /* grid-template-columns: repeat(2, 535px);
  grid-column-gap: 30px; */
  /* max-width: 1100px; */
  min-width: 320px;
}

.section-1, .section-2 {
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-left: 30px;
  width: 100%;
}

.section-1 {
  background-image: url(../img/section1.png);
}

.section-2 {
  background-image: url(../img/section2.png);
}

.section-2 button:hover {
  background-color: var(--main-button-color);
  color: var(--main-text-color);
}

.section-1-paragraph-1 {
  font-size: 14px;
  color: #2C2C2C;
  font-weight: 500;
}

.section-1-paragraph-2, .section-2-paragraph-2 {
  font-size: 22px;
  color: var(--main-text-color);
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 500;
}

.section-1-paragraph-3, .section-2-paragraph-3 {
  font-size: 16px;
  color: var( --alternative-text-color);
  margin-bottom: 40px;
}

.section-2-paragraph-1 {
  font-size: 14px;
  font-weight: 500;
  color: #A9A9A9;
}

.section-2-paragraph-2, .section-2-paragraph-3 {
  color: var(--main-button-color);
}

#products h2 {
  font-size: 38px;
  font-weight: 600;
  color: var(--main-text-color);
  margin-left: 160px;
  margin-top: 90px;
}

#products p {
  font-size: 18px;
  color: var(--main-text-color);
  margin-left: 160px;
  margin-top: 20px;
}