@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Poppins:wght@400;500;600;700&display=swap%27");
/* 
font-family: 'Hind', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  --main-text-color: #333333;
  --highlight-text-color: #7bb57c;
  --alternative-text-color: #707070;
  --main-button-color: #ffffff;
  --additional-text-color: #757171;
}

body {
  margin: auto;
}

.site-logo a img{
  width: 108px;
  height: 32px;
}

.heading {
  max-width: 1200px;
  margin: auto;
}

header {
  display: block;
  background-image: url(../img/background-img-start-page.webp);
  background-position: center;
  background-size: cover;
  min-height: 900px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 40px;
}

header nav a {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--main-text-color);
  text-decoration:solid;
}

@media (min-width: 990px) {

.heading .logo {
    display: flex;
  }
  
  header nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
  header nav a {
    padding-right: 20px;
  }
  .header .start-page {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
  }
}


.start-page h1 {
  font-size: 84px;
  line-height: 1em;
  color: var(--main-text-color);
}
.start-page h1 span {
  color: var(--highlight-text-color);
}
.start-page p {
  color: var(--main-text-color);
  font-size: 18px;
  padding-top: 20px;
}





.w-grid-item {
  display: flex;
  max-width: 1200px;
  height: 447px;
  margin: 30px auto;
  background-color: #ffffff;
}

.w-grid-inner {
  background-color: #F7F5F6;
}

.collection-item-text {
  display: flex;
  padding: 45px;
  width: 620px;
  height: 447px;
  flex-direction: column;
  object-fit: cover;
}

.collection-item-img {
  display: flex;
  width: 620px;
  height: 420px;
  flex-direction: column;
  object-fit: cover;
}

.collection-item-text-mini {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.collection-item-main-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.collection-item-header {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.collection-item-img img {
  display: flex;
  object-fit: cover;
}


/* Controls */


.button {
  font-family: 'Hind', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0.7em 1.5em;
  border: 2px solid var(--highlight-text-color);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  color: var(--main-text-color);
  text-decoration: none;
  text-align: center;
  transition: color 0.5s;
  background-color: transparent;
}

.button:hover {
  color:var(--main-button-color);
  border-color: var(--highlight-text-color);
  background-color: var(--highlight-text-color);
  cursor: pointer;
}
.green {
  background-color: var(--highlight-text-color);
  color: var(--main-button-color);
}
.green:hover {
  background-color: var(--main-text-color);
  color: var(--main-button-color);
  border-color: var(--main-text-color);
}
.best-selling-button {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 1em 3em;
  border: 2px solid var(--highlight-text-color);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  color: var(--main-button-color);
  text-decoration: none;
  text-align: center;
  transition: color 0.5s;
  background-color: var(--highlight-text-color);
}

.best-selling-button:hover {
  color:var(--main-button-color);
  border-color: var(--main-text-color);
  background-color: var(--main-text-color);
  cursor: pointer;
}

/* Spring collection */
#up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: transparent;
  font-size: 30px;
  border: none;
}

.spring-header {
  display: block;
  background-image: url(../img/background_spring.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  padding-top: 140px;
  padding-left: 100px;
  margin-bottom: 90px;
}

.spring-collection-text h1 {
  font-size: 84px;
  font-weight: bold;
  line-height: 1.1;
  color: var(--main-text-color);
}

.spring-collection-text h1 #year {
  color: var(--highlight-text-color);
}

.spring-collection-text p {
  color: var(--main-text-color);
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sections {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 535px);
  grid-column-gap: 30px;
  max-width: 1100px;
  min-height: 365px;
}
.section-1, .section-2 {
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-left: 30px;
}
.section-1 {
  background-image: url(../img/section1.png);
}
.section-2 {
  background-image: url(../img/section2.png);
}
.section-2 button:hover {
  background-color: var(--main-button-color);
  color: var(--main-text-color);
}
.section-1-paragraph-1 {
  font-size: 14px;
  color: #2C2C2C;
  font-weight: 500;
}
.section-1-paragraph-2,
.section-2-paragraph-2 {
    font-size: 22px;
    color: var(--main-text-color);
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 500;

.section-1-paragraph-3, .section-2-paragraph-3 {
    font-size: 16px;
    color: var(--alternative-text-color);
    margin-bottom: 30px;
}

.section-2-paragraph-1 {
  font-size: 14px;
  font-weight: 500;
  color: #A9A9A9;
}
.section-2-paragraph-2, .section-2-paragraph-3 {
  color: var(--main-button-color);
}
